{% block emaemasc_access_widget %}
    <div>
        <label class="form-control-label">{{ label }}</label>
        <div class="emaemasc-access-container" {{ block('widget_container_attributes') }}>
            {% if presets|length > 0 %}
                <div class="emaemasc-access-presets">
                <span class="emaemasc-access-preset" data-name="empty" data-items="[]">
                    Пусто
                </span>
                    {% for preset in presets %}
                        <span class="emaemasc-access-preset"
                              data-name="{{ preset.name }}"
                              data-items="{{ preset.items|json_encode }}">
                        {{ preset.title }}
                    </span>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="emaemasc-access-inner">
                {% if groups|length > 0 %}
                    {% for group in groups %}
                        {{ _self.emaemasc_access_group(form, group) }}
                    {% endfor %}
                {% else %}
                    {% for item in items %}
                        {{ _self.emaemasc_access_item(form, item.name) }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block emaemasc_access_row %}
    {# This block is intentionally empty to prevent individual field rendering #}
    {{ block('emaemasc_access_widget') }}
{% endblock %}

{% block emaemasc_access_errors %}
    {# This block is intentionally empty or you can customize error display #}
{% endblock %}

{% block emaemasc_access_label %}
    {# This block is intentionally empty to prevent label rendering #}
{% endblock %}

{% macro emaemasc_access_group(form, group) %}
    <div class="emaemasc-access-group">
        <div class="emaemasc-access-group-header">
            <span class="emaemasc-access-group-title">{{ group.title }}</span>
        </div>
        <div class="emaemasc-access-group-items">
            {% for name in group.items %}
                {{ _self.emaemasc_access_item(form, name) }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro emaemasc_access_item(form, name) %}
    <div class="emaemasc-access-row">
        {{ form_widget(form['item_' ~ name]) }}
    </div>
{% endmacro %}
